@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Tirra:wght@400;500;600;700;800;900&display=swap');

:root{
    /* CSS HEX */
--azul: rgb(4, 0, 240);
--amarelo: #fdffb6ff;
--roxo : #bdb2ffff;
--rosa: #ffc6ffff;
--branco: rgb(255, 255, 255);
--titulo: "Noto Sans Arabic", sans-serif;
--texto: "Tirra", cursive;
}

body{
    background: var(--cinza-verde);
    font-family: var(--texto);
}
h1{
    font-family: var(--titulo);
}